.cardinfo {
  font-size: 11px;
}

.cardinfo span:last-of-type {
  margin-right: 2px;
  margin-left: 4px;
}

.teamname {
  margin-right: 7px;
  background: #d1d1d1;
  color: #fff;
  padding: 2px 5px;
}

.date {
  color: #2196f3;
}

.card_image_wrap .left {
  background-repeat: no-repeat;
  background-size: cover !important;
  width: 90px;
  height: 90px;
}

.card_image_wrap {
  display: flex;
}

.card_image_wrap .right {
  padding: 10px;
}
